.cart_button {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 100px;
    color: #ffffff;
    position: relative;
}

.cart_button:hover{
    scale: 1.2;
}


.cart_status{
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 15px;
    height: 15;
    border-radius: 15px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
   justify-content: center;
   align-items: center;
}
