.search-bar {
    display: flex;
    background-color: white;
    width: 50vw;
    justify-content: space-between;
    gap: 13px;
    padding-right: 13px;
    border-radius: 20px;
}

.search_inpunt {
    padding: 13px;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: .9em;
    border-radius: 20px;
}

.search_button {
    background-color: #dfd10b;
   min-width: 50px;
    border: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search_button:hover {
    font-size: 1.2em;
}